[project]
	description = the official Go package for NSQ
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Weiran YUAN (yuanwr)
[access "refs/for/refs/*"]
	read = group user/Weiran YUAN (yuanwr)
	push = group user/Weiran YUAN (yuanwr)
	label-Code-Review = -2..+2 group user/Weiran YUAN (yuanwr)
	label-Verified = -1..+1 group user/Weiran YUAN (yuanwr)
	rebase = group user/Weiran YUAN (yuanwr)
	removeReviewer = group user/Weiran YUAN (yuanwr)
	submit = group user/Weiran YUAN (yuanwr)
[access "refs/heads/*"]
	read = group user/Weiran YUAN (yuanwr)
	create = group user/Weiran YUAN (yuanwr)
	push = +force group user/Weiran YUAN (yuanwr)
	pushMerge = group user/Weiran YUAN (yuanwr)
[access "refs/tags/*"]
	push = +force group user/Weiran YUAN (yuanwr)
	pushTag = group user/Weiran YUAN (yuanwr)
	pushSignedTag = group user/Weiran YUAN (yuanwr)
